# Lab Workbook Challenges

## Lab Workbook 1

### Challenge 1

Task: Create a table with required columns and rows to represent the type of roads in the UK. The table should include headers and hiperlinks.

### Challenge 2

Task: In the following cell, create the code to calculate the average of three numbers and print the result. There is no need for functions. Comment your code and the process.

In [ ]:
#Assigning values to three numbers
number1 = 4
number2 = 6
number3 = 11

#Adding the values
totalsumof3 = number1 + number2 + number3

#Finding the average
average = totalsumof3 / 3

#Printing the result
print(f"Average: {average}")

### Challenge 3

Task: Write a condition to check if a number is even.

In [ ]:
#Defining so that a number which is divisible by 2 without producing decimals comes back as true, if not it comes back as false
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

#Assigning a value to number
number = 11

#Creating a command to tell me if the assigned value is odd or even
if is_even(number):
    print(f"{number} is even!")
else:
    print(f"{number} is odd!")

### Challenge 4

Task: 

Write the python code to find the factorial of a number using a loop. Thefactorial of a number (integer positive) is the sum of multiplication of all the integers smaller than that positive integer. For example, factorial of 5 is:

5 * 4 * 3 * 2 * 1 which equals to 120.

How you can do that in a python script?, please try your best without using google.

In [ ]:
#Assigning a value to num and from which number it should start for the multiplication
num = 5
multi_numbers = 1

#Creating a loop
for j in range(1, num + 1):
    multi_numbers *= j

#Printing the result
print(f"The factorial of {num} is: {multi_numbers}")

### Challenge 5

Task:

Help me to write the python code, I can use to provide the grades based on the marks according to the following table:

Mark	Grade
81-100	20
61-80	15
41-60	10
20-40	5

In [ ]:
#Assgining a value to mark
mark = 67

#Creating an if statement to print a result depending on the mark value assigned
if mark >= 81:
    print(f"Congrats! You have a grade 20")
elif 61 <= mark < 81:
    print(f"Well done! You got a grade 15")
elif 41 <= mark < 61:
    print(f"Oof! You got a grade 10")
elif 20 <= mark < 41:
    print(f"UGHH! You got a grade 5")
else:
    print(f"FAIL! No grade!")

### Challenge 6

Task:

Write and use a function to convert Fahrenheit to Celsius. Use the input parameter to let the user enter a number in Fahrenheit and then get the correspondant value in Celsius
Go to https://www.w3schools.com/python/exercise.asp?filename=exercise_functions1 and complete the 6 excersices. Functions are a very important part of Python so we will use extra time to practice that.

In [ ]:
#Creating an input to ask the user to give a fah value
fah = int(input("what is the temperature in Fahrenheit"))

#Calculation to convert fah and cel
cel = (fah-32)*5/9

#Printing the cel value
print(f"it is {cel} oC at the moment")

### Challenge 7

Calculate the mean and standard deviation of elements in a NumPy array. The outcome should have something like print(f"Mean: {mean_value}, Standard Deviation: {std_deviation}")

In [ ]:
#Will need numpy
import numpy as np 

#Creating a array with random numbers between 0 and 10
arr = np.random.randint(0, 10, size=(3, 3))
print(arr)

#finding the mean, standard deviation of the array
mean_value = np.mean(arr)
std_dev = np.std(arr)

#Printing the mean and standard deviation results
print(f"Mean: {mean_value}, Standard Deviation: {std_dev}")

### Challenge 8

You have the following dataframes 'sales_data' and 'movie_ratings'

In [ ]:
import pandas as pd

sales_data_dict = {
    'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04'],
    'Region': ['North', 'South', 'East', 'West'],
    'Product': ['A', 'B', 'A', 'C'],
    'Quantity': [15, 8, 12, 10],
    'Revenue': [1500, 1200, 1800, 900]
}

sales_data = pd.DataFrame(sales_data_dict)


movie_ratings_dict = {
    'Title': ['Movie1', 'Movie2', 'Movie3', 'Movie4'],
    'Genre': ['Action', 'Drama', 'Comedy', 'Thriller'],
    'Year': [2015, 2010, 2018, 2011],
    'Rating': [8.5, 7.8, 9.2, 8.0]
}

movie_ratings = pd.DataFrame(movie_ratings_dict)

print(sales_data)
print(movie_ratings)

Display the first 5 rows of the DataFrame 'sales_data'

Use loc to filter and display rows where the "Quantity" is greater than 10 and the "Region" is "North".

Use iloc to display the values in the first row and the first three columns.

Calculate the total sales for each region and display the result.

Display the last 3 rows of the DataFrame 'movie_ratings'.

Calculate and display the average rating for each genre.

In [ ]:
#Displaying the first 5 rows from sales_data
print(sales_data.head(5))

#Using loc to filter and display rows where quantity is greater than 10 and the region is north
filtered_df = sales_data.loc[(sales_data['Quantity'] > 10) & (sales_data['Region'] == 'North')]
print(filtered_df)

selected = sales_data.iloc[0, :3]
print(selected)

sum = sales_data['Revenue'].sum()
print(sum)

selectedlast3 = movie_ratings.tail(3)
print(selectedlast3)

aver = movie_ratings['Rating'].mean()
print(aver)

### Challenge 9

Recreate the explore map, but now using one of the columns to create a choropleth map Check this link to get more information https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.explore.html

Get the histogram of the raster you plot in the exercise. Here you can get an example of how to do it: https://rasterio.readthedocs.io/en/latest/topics/plotting.html

In [ ]:
import geopandas as gpd
import rasterio
from rasterio.plot import show

shapefile = 'Road_Safety_Accidents.shp'
gdf = gpd.read_file(shapefile)
gdf.explore()

In [ ]:
#Will need to import numpy
import numpy as np

#Checking what columns there are
print(gdf.columns)

#Creating explore map of one of the columns to create a choropleth map
gdf.explore("ACCIDENT_S", cmap="Blues")


#Creating the histogram of the raster
#Will need to import rasterio
import rasterio

#Creating a histogram for the elevation
from matplotlib import pyplot
from rasterio.plot import show_hist
show_hist(
    src, bins=50, lw=0.0, stacked=False, alpha=1,
    histtype='stepfilled', label="Elevation", title="Histogram")

## Lab Workbook 2

### Challenge 1

Task:

Using a Dictionary, create a dataframe (table), with at least 4 columns and more than 100 rows. How come you can create this among data from scratch without defining every single row of data?

Using the appropriate method, create a new DataFrame containing only the first 30 rows and the first 3 columns of the original DataFrame. Name this new DataFrame subset_df.

Using the appropriate method, filter the rows from the original dataframe where a numerical attribute(column) is greater than a particular numerical value, and find another categorical attribute that is equal to a specific string or text. Name this new DataFrame filtered_df.

Check this website https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html and apply the methods, mean, standard deviation, group_by to run fundamental statistical analysis of your created data frame.

Make sure you comment on your code and describe how you are manipulating the data.

In [ ]:
#Setting the years chosen to be between 2000 and 2024
years1 = range (2000,2024)

#Repeat the year selection 5 times
aa = np.repeat(years1, 5)

#ab 120 numbers will be chosen between 0 and 1000
ab = np.random.randint(0, 1000, 120)

#ac 120 numbers will be chosen between 0 and 100
ac = np.random.randint(0, 10, 120)

#ad 120 numbers will be chosen between 0 and 3
ad = np.random.randint(0, 3, 120)

#Creating a dataframe and checking the head
ae = pd.DataFrame({'aa':aa,'ab':ab,'ac':ac,'ad':ad})
ae.head

In [ ]:
#creating a new dataframe with only the first 30 rows and first 3 columns
subset_df = ae.iloc[:30, :3]
subset_df.head

In [ ]:
#Filtering the third row to check for values more than 6 and only show years equal to 2003 from the original dataframe 
filtered_df = ae[(ae.iloc[:,2] >= 6) & (ae.iloc[:, 0] == 2003)]
filtered_df.head

In [ ]:
#Finding the mean, standard deviation and sum
ae.mean()
ae.sum()
ae.std()

In [ ]:
#Creating a group by to group the same years in aa
grouped_ae = ae.groupby('aa').size()
print(grouped_ae)

### Challenge 2

Part No 1:

Using the same workflow previously described, now calculate the clustered areas for the GeoPandasDataFrame gdf_bikes_end
Make sure you don't have any NaN in your columns, add a CRS, clean up the unnecessary attributes, calculate the cluster values, and plot a map of 4 calculated clusters for the return locations.

Part No 2:

Using the Glasglow Open Data API ( Transit) https://developer.glasgow.gov.uk/api-details#api=traffic&operation=traffic-sensor-locations fetch all the sensor locations in the city.
Map the sensor
Find the WorkingZones and Calculate/Map the areas with more and fewer sensors distributed in the city.
You will need:
Get two separate Geopandas DataFrames, one for the traffic sensors and another one for the WorkingZones.
Using sJoin ( Spatial Join) https://geopandas.org/en/stable/docs/reference/api/geopandas.sjoin.html calculate the overlay of sensors and polygons.
Using group_by https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html to count the number of sensors per WorkingZone
Make sure you add the counts into the WorkingZone polygons of Glasgow so you can create a map of Zones with more and fewer traffic sensors.
Of course, you will need extra steps where you manipulate the data and extract what you need, for instance, clipping the Working Zones only for Glasgow.
Make sure you comment on your code and describe how you are manipulating the data.